@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Lobster+Two:wght@700&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black: #1b1b1b;
  --pink: #f3c8c8;
  --transition: all 0.5s ease;
  --font1: "Baloo Bhai 2", cursive;
  --font2: "Lobster Two", cursive;
  --fontS: 1em;
  --fontM: 2em;
  --fontL: 4em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--font1);
  transition: all 0.3s ease;

  /* background-color: #30221c; */
}

/* ========================== Light Theme ========================== */
.lightTheme {
  /* background: linear-gradient(to right, #e9e9e9, #c8edf8); */
  background-color: var(--white);
  color: var(--black);
}

.lightTheme #toTop {
  background-color: var(--black);
  color: var(--white);
}

.lightTheme header nav {
  background-color: var(--white);
  background: linear-gradient(to bottom, #6dd5ed, #2193b0);
  box-shadow: 0px 2px 8px 2px var(--black);
}

.lightTheme header nav #logo {
  background-color: var(--black);
  color: #ffffff;
  box-shadow: 3px 3px 5px 0px #1b1b1b;
}

.lightTheme header nav .navList li .navLink {
  color: var(--black);
}

.lightTheme header nav .navList li .navLink:hover {
  background-color: #ffffff91;
}

.lightTheme header nav #searchBar {
  color: #ffffff;
  background-color: var(--black);
  box-shadow: 2px 1px 5px 1px #1b1b1b, -2px -1px 5px 1px #e0e0e0;
}

.lightTheme main section .blog {
  background-color: #9ad7fa;
  box-shadow: 0px 2px 10px 2px var(--black);
}

.lightTheme main section .blog article {
  background-color: #ffffff81;
}

/* ========================== Light Theme End ========================== */

/* ========================== Dark Theme ========================== */
.darkTheme {
  background-color: var(--black);
  color: var(--white);
}

.darkTheme header nav {
  background-color: var(--white);
  background: linear-gradient(to bottom, #016277, #01232c);
  box-shadow: 0px 2px 8px 2px #5a5a5a;
}

.darkTheme header nav #logo {
  background-color: var(--white);
  color: var(--black);
  box-shadow: 3px 3px 5px 0px #1b1b1b;
}

.darkTheme header nav .navList li .navLink {
  color: var(--white);
}

.darkTheme header nav .navList li .navLink:hover {
  background-color: #16161691;
}

.darkTheme header nav #searchBar {
  color: var(--black);
  background-color: var(--white);
  box-shadow: 2px 1px 5px 1px #000000, -2px -1px 5px 1px #929292;
}

.darkTheme main section .blog {
  background-color: #08293b;
  box-shadow: 0px 2px 10px 2px var(--black);
}

.darkTheme main section .blog img {
  border: 1px solid var(--white);
}

.darkTheme main section .blog article {
  background-color: #44444481;
}

/* ========================== Dark Theme End ========================== */

/* ===================== Navigation ===================== */

header {
  width: 100vw;
  /* position: fixed; */
  z-index: 10;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 5vw;
}

#logo {
  display: flex;
  font-size: var(--fontM);
  padding: 0.5em;
  border: 0px solid transparent;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Lobster Two", cursive;
  text-decoration: none;
  font-weight: bold;
}

.navList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fontM);
}

.navLink {
  padding: 0em 0.5em;
  /* background-color: #1b1b1b; */
  border-radius: 1em;
}

.navLink:hover {
  transition: all 0.6s ease-in-out;
}

#searchBar {
  font-size: var(--fontS);
  padding: 1em;
  /* border: 2px solid #444444; */
  border: 0px solid transparent;
  border-radius: 50px;
}

/* ========================== Main ========================= */

main {
  width: 100vw;
  margin: auto;
}

/* ================== TO Top ====================== */
#toTop {
  z-index: 10;
  position: fixed;
  left: 0px;
  bottom: 20px;
  transition: var(--transition);
  font-size: 39px;
  color: #000000;
  width: 50px;
  height: 50px;
  background-color: #ffffffb2;
  border-radius: 0px 50% 50% 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* =========================== Blogs ============================ */
.blog {
  width: 80vw;
  margin: 2em auto;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* grid-auto-rows: 20em; */
  gap: 1em;
}

.blog img {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  /* margin: auto 0px; */
}

.blog article {
  padding: 1em;
}

.blog article h2 {
  font-size: var(--fontM);
}

.blog article p {
  text-align: justify;
  overflow: hidden;
  height: 100px;
}

.blog:nth-child(even) img {
  order: 2;
}

.blog:nth-child(even) {
  grid-template-columns: 2fr 1fr;
}

.readMoreBtn {
  margin: 10px 0px;
  padding: 5px 0px;
  font-family: var(--font1);
  font-size: var(--fontS);
  color: #2193b0;
  background-color: transparent;
  border: 0px solid transparent;
  cursor: pointer;
}

.readMore p {
  height: auto !important;
}

.readMore .readMoreBtn {
  color: #ed6d6d;
}

/* ======================================== Mobile =================================== */
@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    height: 15em;
  }

  #searchBar input,
  #searchBar button {
    font-size: var(--fontS);
    padding: 5px;
  }

  .blog {
    display: flex;
    flex-direction: column;
    width: 90vw;
  }
  .blog article {
    order: 2;
  }
}

/* ======================= Footer ======================= */
footer {
  padding: 5px 5vw;
  border-top: 2px solid #000000;
  height: 200px;
}
